* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.header-links {
    z-index: 9999;
}







/*----------------- ADD SHADOW TO HAMBURGER MENU OPEN -----------------*/
.header-links.active {
    right: 0;
    box-shadow: -200px 0 0 200px rgba(0,0,0,0.5);
}


/* ======================
       HERO SECTION
=========================*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
    to right,
    rgba(0,0,0,1),
    rgba(0,0,0,0.8),
    rgba(0,0,0,0)
    ),
    url(native-pot-man.webp);
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
}
nav img{
    width: 100%;
    max-width: 80px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}
.header-links a{
    padding: 8px 16px;
    color: white;
}

.header-register a{
    background-color: #fab005;
    padding: 4px 32px;
    margin-left: 72px;
    border-radius: 20px;
    color: #212529;
}

/*=============== HEADER TEXT ================*/
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* align to left */
    padding-left: 9%;
    margin-top: 72px;
}


.header-delivery {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}
.header-delivery img{
    width: 45px;

}
.header-delivery p{
    color: white;
    font-size: 12px;
    padding: 10px 8px;
    font-style: oblique;
    font-weight: 500;
    background-color: #441502;
    width: 100%;
    max-width: 260px;
    border-radius: 20px;
    border: 2px solid #d9480f;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    text-align: center;
}
.header-text h1{
    color: white;
    font-size: 48px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 8px;

}
.header-short {
    color: white;
    font-size: 24px;
    width: 100%;
    max-width: 710px;
    margin-bottom: 32px;
}


/*=============== HEADER SEARCH BAR ================*/

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 8px 16px;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    gap: 16px;
    margin-bottom: 32px;
}
.header-search input{
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    flex: 1;
    min-width: 0;
    font-size: 14px;
}
.header-searchtext{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-search img{
    width: 100%;
    max-width: 24px;
}
.header-boximg{
    padding: 14px;
    background-color: #fab005;
    border-radius: 2px;
}
.hearder-keyword {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
}
.hearder-keyword h4 {
    white-space: nowrap;
    flex-shrink: 0;
}


/*=============== POPULAR RESTAURANT CARDS ================*/

.popular-restaurant {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 72px;
}
.popular-restaurant h4{
    color: white;
    margin-bottom: 16px;
}

.single-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 70px;
    max-width: 100%;
}
.single-restaurant img {
    border-radius: 2px;
    border: 1px solid white;
    display: block; 
    width: 100%;
    height: 60px;
    object-fit: cover; 
}

.restaurant-list {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.restaurant-list p {
    font-size: 10px;
    color: #fab005;
    width: 100%;
    text-align: center;
}

/*=============== DOWNLOAD APP ================*/

.download-app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
    margin-left: -9%; 
}

.app-icon{
    display: flex;
    gap: 40px;
    padding: 0;
}
.app-icon li{
    list-style: none;
    margin: 10px 0;
}

.app-icon li a{
    display: flex;
    padding: 8px 24px;
    background-color: white;
    color: #212529;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}



/* ======================
       TOP FOODS
=========================*/

.top-foods {
    padding: 0 16px;
    margin-bottom: 72px;
}

.food-heading {
    text-align: center;
    margin-bottom: 56px;
}
.food-heading p {
    color: #d9480f;
    font-weight: 600;
    margin-bottom: 8px;
}
.food-heading h3 {
    font-weight: 900;
}

.popular-soup ul{
    margin-bottom: 56px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 on desktop */
    gap: 48px;
}
.popular-soup ul li {
    text-align: center;
}
.popular-soup img {
    border-radius: 16px;
    object-fit: cover;
    border: 2px solid #9b764b;
    margin-bottom: 16px;
}
.popular-soup h5 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}
.popular-soup p {
    font-size: 10px;
    font-weight: 600;
    opacity: 70%;
}
.popular-soup a{
    color: #212529;
}

.popular-soup-all {
    text-align: center;
}

.popular-soup-all a{
    background-color: #d9480f;
    padding: 8px 32px;
    font-weight: 600;
    color: white;
    border-radius: 40px; 
}




/* ======================
       HOW IT WORKS
=========================*/

.how-it-works {
    padding: 32px 16px;
    margin-bottom: 72px;
    background-color: #fff4e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #212529;
}

.process-card-all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
}
.process-card {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-it-works img{
    width: 150px;
    margin-bottom: 8px;
}
.process-card h4 {
    margin-bottom: 4px;
}
.process-card p {
    font-size: 14px;
}


/*------------------- BANNER ------------------------*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 32px 16px;
    margin-bottom: 72px;

    background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
    ),
    url(native\ kitchen.webp);

    background-size: cover;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);


    background-position: center;
    min-height: 200px;

    position: relative;
    border-radius: 8px;
    color: white;

    min-width: 250px;
    max-width: 800px;
    text-align: center;
}

.banner h2 {
    margin: 4px;
}

.banner p {
    width: 100%;
    max-width: 600px;
}

.partner-btn {
    display: flex;
    padding: 10px 16px;
    color: white;
    background: #c0392b;
    margin-top: 16px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
}



/* =================================================
                CHEF SPOTLIGHT
===================================================*/

.Chef-spotlight {
    padding: 32px;
    background-color: #f1f3f5;
    color: #212529;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    width: 100%;
    box-sizing: border-box;
}

.Spotlight-card-all {
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 900px; /* Adjust to fit your card + some breathing room */
    
    /* Enable horizontal scrolling */
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* This triggers the "snap" effect */
    scroll-behavior: smooth;
    
    /* Hide scrollbar for a cleaner look (optional) */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Spotlight-card-all::-webkit-scrollbar {
    display: none;
}

.Spotlight-card {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: white;
    padding: 24px;
    border-radius: 16px;
   
    /* Snap Logic */
    flex: 0 0 100%; /* Each card takes full width of container */
    scroll-snap-align: center; /* Snap to center of the container */
    
    box-sizing: border-box;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}

.spotlight-image {
    width: 321px;
    height: 394px;
    flex-shrink: 0;

}
.Spotlight-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.spotlight-text {
    text-align: center;
}

.spotlight-text h2{
    margin-bottom: 4px;
}

.spotlight-text p {
    font-size: 14px;
}
.spotlight-paragraph {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 12px;
}



/* =================================================
              POPULAR RESTAURANT
===================================================*/

.restaurant-section h1{
    text-align: center;
    margin-bottom: 32px;
    color: #212529;
}

.local-eatry {
    padding: 0 16px;
    margin-bottom: 72px;
    gap: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.restaurant-card {
  background: #212529;
  border-radius: 12px;
  overflow: hidden;
  
  width: 100%;
  max-width: 280px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fab005;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
}

.card-content {
  padding: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  
}

.card-content h3 {
    font-size: 16px;
}

.card-meta {
  display: flex;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 6px;
}
.food-type {
  font-size: 14px;
  color: #666;
}




/* =================================================
              CUSTOMER REVIEWS
===================================================*/

.reviews {
    padding: 0 16px;
    margin-bottom: 72px;
}

.reviews-grid {
    display: grid;
    /* This creates the columns */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 24px;
    /* This is the magic line that forces all children to be the same height */
    align-items: stretch; 
    padding: 20px 0;
    
    margin: 0 auto;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 32px;
    color: #d9480f;
    display: flex;
    align-items: center;
    gap: 16px;
}

.reviews h2::before,
.reviews h2::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #adb5bd;
}

.reviews-card {
    position: relative;
    background-color: white;
    padding: 16px;
    border: 1.5px solid #e9ecef;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;

    /* These three lines ensure the card stretches properly 
    display: flex;
    flex-direction: column;
    height: 100%; 
    
    box-sizing: border-box;
    
                            */
}

.reviews-card p {
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
    flex-grow: 1;
}

.reviews-details {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.reviews-profile {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.reviews-username {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.reviews-username p {
    font-size: 14px;
    font-weight: 500;

}

.reviews-image-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #e9ecef;
    overflow: hidden; /* VERY IMPORTANT */
    flex-shrink: 0;
}
.reviews-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews-qoute {
    top: 12px;
    right: 12px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; /* VERY IMPORTANT */
    background-color: #fff4e6;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.reviews-qoute img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    padding-left: 5px;
}
.star-rating {
    font-size: 10px;
    font-weight: 600;
}

.advert-text {
    text-align: center;
}




/* =================================================
                     ADVERT
===================================================*/

.advert {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
    ),
    url(friends.webp);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0 16px;
}
.advert-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    gap: 32px;
    padding-top: 40px;
}

.advert-text-select h1 {
    margin-bottom: 8px;
}
.advert-text p {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}




.mission-text {
    background: rgb(13, 13, 13);
    color: white;
    padding: 56px 16px;
    text-align: center;
    margin-bottom: 100px;

    
}

.mission-text h1 {
    font-size: 50px;
    margin-bottom: 16px;
}

.mission-text p {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


/* =================================================
                 FOOTER SECTION
===================================================*/

.footer {
    padding: 0 16px 24px;
}

.email-form {
    display: FLEX;
    align-items: center;
    justify-content: center;
    gap: 24px 8px;
    background-color: rgb(13, 13, 13);

    width: 100%;
    max-width: 700px;
    padding: 24px;
    margin: 72px auto;
    border-radius: 8px;
}

.email {
    width: 100%;
    max-width: 300px;
    color: white;
}
.email-form p {
    font-size: 14px;
}
.email-subscribe {
    background-color: white;
    border: 1px solid #ced4da;
    padding: 8px;
    border-radius: 4px;
}

.email-subscribe button {
    border: none;
    background: #d9480f;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
}
.email-subscribe input {
    border: none;
    color: #212529;
    outline: none;
    padding: 8px 0;
}



.main-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 72px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-icons img {
    width: 32px;
}

.footer-link {
    width: 100%;
    max-width: 300px;
}
.footer-link p {
    font-size: 14px;
    opacity: 70%;
    margin: 16px 0;
}

.footer-link2 {
    color: #212529;
}

.footer-link2 h2 {
    margin-bottom: 16px;
}
.footer-link2 a{
    color: #212529;
    font-size: 15px;
    font-weight: 500;
}
.footer-link2 ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}



.copyright {
    color: #f8f9fa;
    background-color: black;
    text-align: center;
    font-size: 12px;
    padding: 16px 0;
}






















/* =================================================
       MOBILE (ONE CLEAN BLOCK) MEDIA QUERY
===================================================*/

@media (max-width: 768px) {

    .header {
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(
    to right,
    rgba(0,0,0,1.0),
    rgba(0,0,0,0.79),
    rgba(0,0,0,0.6)
    ),
    url(native-pot-man.webp);

    background-size: cover;
    background-position: center;
   }

/*----------------- HAMBURGER MENU ---------------------*/
    .menu-toggle {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  .header-register{
    margin-top: 74px;
    text-align: center;
  }

  .menu-close {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .header-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 270px;
    background: #212529;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 40px;

    transition: 0.5s;
  }

  .header-links.active {
    right: 0;
  }

  .header-links li:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }


    /* NAV */
    nav {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-right: 4%;
        padding-left: 0;
        margin-bottom: 56px;
    }

    nav a{
        font-size: 18px;
    }

    nav img {
    display: block;
    height: 60px; /* control it properly */
    padding-left: 2px;
    }

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; /* match logo height */
    }

    .header-delivery {
        font-size: 10px;
    }

    .header-delivery p {
        width: 250px;
    }

    .header-links {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
        gap: 4px;
    }

    .header-links li {
    width: 100%;
}

.header-links a {
    display: block;
    width: 100%;
    padding: 12px 0;
}

    .header-register a {
        margin-left: 0;
        padding: 6px 20px;
    }

    /* HERO TEXT */

    .header-text {
        padding-left: 5%;
        margin-top: 40px;

        max-width: 1200px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .header-text h1 {
        font-size: 28px;
        max-width: 100%;
    }

    .header-short {
        font-size: 15px;
        max-width: 100%;
    }

    /*----------------- SEARCH BAR ---------------------*/
    .header-search {
        flex-direction: row;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 90%;
        width: 100%;
        border-radius: 40px;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .hearder-keyword {
        flex-direction: row;
        align-items: center;
    }

      .hearder-keyword h4 {
        display: none; /* 👈 remove label on mobile */
    }


    .hearder-keyword input {
        font-size: 12px;
    }

    .header-boximg {
        background: none;
        padding: 0;
        padding-top: 4px;
    }

    .header-search img{
    width: 100%;
    max-width: 20px;
    }

    /*----------------- RESTAURANT---------------------*/

    .popular-restaurant{
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .restaurant-list {
        flex-wrap: wrap;
        gap: 16px;
        display: flex;
        justify-content: center;
    }

    /*----------------- DOWNLOAD APP BUTTON ---------------------*/

    .download-app {
        margin-left: 4%; 
    }

    .app-icon {
        flex-direction: column;
        gap: 0;
    }

    .app-icon li a {
        justify-content: center;
    }

    .popular-soup ul {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 24px;
        margin-bottom: 32px;
    }


    .banner {
        border-radius: 0;
    }
    .banner p {
        font-size: 14px;
    }


   /*----------------- CHEF SPOTLIGHT ---------------------*/
    
    .Chef-spotlight {
        padding: 24px;
        gap: 24px;
    }

    .Spotlight-card {
        gap: 16px;
    }

    .spotlight-image {
        width: 220px;
        height: 270px;
    }

    .Spotlight-card {
        flex-direction: column;
        text-align: center;
        padding: 16px;
    }
    
    .spotlight-image {
        width: 100%;
        height: 250px;
    }
    

    .spotlight-image {
        width: 100%;
        height: 280px;
    }

    .Spotlight-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    object-position: top; /* shows the top of the image where the face is */
    }

    .Chef-spotlight {
        padding: 16px;
        margin-bottom: 48px;
    }
    .spotlight-text p{
        font-size: 12px;
    }

    .spotlight-text h2 {
        font-size: 20px;
    }



    /*------------ RESTAURANT -------------------*/
    .restaurant-card {
        background: #212529;
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .local-eatry {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);

  }

  /*----------------- BANNER ---------------------*/

  .banner {
    box-shadow: none;
  }


 /*----------------- RESTAURANT ---------------------*/
  .card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fab005;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
}

.card-content {
  padding: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  
}

.card-content h3 {
    font-size: 12px;
}

.card-meta {
  display: flex;
  gap: 8px;
  font-size: 10px;
  margin-bottom: 6px;
}

.food-type {
  font-size: 10px;
  color: #666;
}

 /*----------------- CUSTOMER REVIEWS ---------------------*/
.reviews h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #d9480f;
    font-size: 18px;
}

 /*----------------- ADVERT ---------------------*/
.advert {
     min-height: 40vh;
}

.advert-text h1 {
    font-size: 20px;
}
.advert-text p {
    font-size: 14px;
}


/*----------------- MISSION ---------------------*/
.mission-text h1 {
    font-size: 30px;
}

.mission-text p {
    font-size: 14px;
}



/*----------------- FOOTER ---------------------*/

    .email-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .email p {
        font-size: 12px;
    }
    .email h1 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .email-subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
    }





    .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    }

    .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    }



    .copyright {
        font-size: 10px;
        color: #f8f9fa;
        margin: 0;
    }


    

}







/* Small mobile — 400px */
@media (max-width: 400px) {
    .spotlight-image {
        height: 220px;
    }

    .Spotlight-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    object-position: top; /* shows the top of the image where the face is */
    }

    .spotlight-text h2 {
        font-size: 18px;
    }

    .spotlight-text p {
        font-size: 13px;
    }

    .Chef-spotlight {
        padding: 12px;
        margin-bottom: 40px;
    }
}

/*  Stop Mobile from shaking when animation is on
@media (max-width: 768px) {
  [data-aos="fade-left"],
  [data-aos="fade-right"] {
    transform: none !important;
  }
}
  */


  .app-icon li a {
    transition: all 0.2s ease;
}

.app-icon li a:hover {
    transform: translateY(-4px);
}

.app-icon li a:active {
    transform: translateY(1px);
}



/* JOIN TO ORDER */
.popular-soup-all a {
    transition: background-color 0.2s ease;
}

.popular-soup-all a:hover {
    background-color: #c13c0f; /* slightly darker than #d9480f */
}

.popular-soup-all a:active {
    background-color: #a6330d; /* deeper press */
}


/* REGISTER YOUR KITCHEN */
.partner-btn {
    transition: background-color 0.2s ease;
}

.partner-btn:hover {
    background-color: #a93226; /* darker than #c0392b */
}

.partner-btn:active {
    background-color: #922b21; /* deeper press */
}


.popular-soup-all a,
.partner-btn {
    transition: background-color 0.2s ease, opacity 0.2s ease;
}

.popular-soup-all a:active,
.partner-btn:active {
    opacity: 0.9;
}





.footer-link2 a {
    transition: color 0.2s ease, opacity 0.2s ease;
}

/* HOVER */
.footer-link2 a:hover {
    color: #d9480f;
}

/* CLICK */
.footer-link2 a:active {
    opacity: 0.7;
}



.footer-link2 a {
    position: relative;
}

.footer-link2 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: #d9480f;
    transition: width 0.2s ease;
}

.footer-link2 a:hover::after {
    width: 100%;
}




.footer-icons img {
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
}

/* HOVER → slight zoom out feel (actually scale up a bit) */
.footer-icons img:hover {
    transform: scale(1.1);
}

/* CLICK → press back */
.footer-icons img:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.footer-icons a {
    display: inline-block;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-icons a:hover {
    transform: scale(1.1);
}

.footer-icons a:active {
    transform: scale(0.95);
    opacity: 0.8;
}




/* TARGET THE WHOLE CARD */
.popular-soup ul li a {
    display: block;
    transition: transform 0.25s ease;
}

/* HOVER → lift card */
.popular-soup ul li a:hover {
    transform: translateY(-6px);
}

/* IMAGE ZOOM */
.popular-soup ul li img {
    transition: transform 0.3s ease;
}

.popular-soup ul li a:hover img {
    transform: scale(1.05);
}

/* TEXT EMPHASIS */
.popular-soup ul li a:hover h5 {
    color: #d9480f;
}